doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title Golf
    link(href='css/style.css', rel='stylesheet')
    link(href='css/ionic.app.css', rel='stylesheet')
    script(src='lib/ionic/js/ionic.bundle.js')
    script(src='cordova.js')
    script(src='js/app.js')
    script(src='js/main_controller.js')
  body(ng-app='lls-golf')
    ion-pane
      ion-header-bar.bar-positive
        h1.title Golf Game
      ion-content(ng-controller='MainCtrl')#content
        h3#greeting {{greeting}}
        button(ng-click='start()') Start Game
        pre#pre {{orientation | json}}
